[Desktop Entry]
Version=1.1
Type=Application
Encoding=UTF-8
Name=Nerell Debug
Comment=Nerell - Eurobot Cup
Icon=/home/pi/robot-icon.png
Exec=bash -lc 'cd /home/pi/nerell && . debug.sh'
Terminal=true
