[Desktop Entry]
Version=1.1
Type=Application
Encoding=UTF-8
Name=Tinker
Comment=Tinker - Eurobot Cup
Icon=/home/pi/tinker-icon.png
Exec=bash -lc 'cd /home/pi/tinker && ./run.sh'
Terminal=true
